tr td {
    border: 1px solid brown;
}

tr td:hover{
    background-color: lightgreen;
    color:white;
    font-size:10px;
    animation:tableAnimation 2s infinite
}

@keyframes tableAnimation{
    0%{
        font-size:10px;
        color:palegreen;
    }
    25%{
        font-size:70px;
        color:tomato;
    }
    50%{
        font-size:100px;
        color:red;
    }
    75%{
        font-size:70px;
        color:tomato;
    }
    100%{
        font-size: 10px;
        color:palegreen;
    }
}